.gallery {
  padding: 4rem 0 3rem 0;
  background-color: lighten(rgb(185, 169, 169), 20%);
  .gallery__img {
    width: 100%;
    height: 200px;
    background-image: url("../images/gallery-1.jpg") !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .gallery__wrapper {
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
  }
  .gallery__img-two {
    background-image: url("../images/gallery-2.jpg") !important;
  }
  .gallery__img-three {
    background-image: url("../images/gallery-3.jpg") !important;
  }
  .gallery__img-four {
    background-image: url("../images/gallery-4.jpg") !important;
  }
  .gallery__description {
    margin: 3rem 0;
    text-align: justify;
  }
}

@media (min-width: 600px) {
  .gallery {
    .gallery__img {
      height: 300px;
    }
  }
}

@media (min-width: 996px) {
  .gallery {
    margin-left: 200px;
    .gallery__img {
      max-width: 500px;
    }
    .gallery__description {
      margin: 1.5rem 1.5rem;
      width: 40%;
    }
    .gallery__wrapper {
      flex-direction: row;
      margin: 3rem 0;
    }
  }
}
